body {
    padding: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.FilterableProductTable, .SearchBar, .ProductTable{
    padding: 10px;
    border: 1px solid;
    border-radius: 2px;
}

.FilterableProductTable{    
    border-color: orange;
    width: min-content;
}

.SearchBar{    
    border-color: blue;
}

.ProductTable{
    margin-top: 10px;
    border-color: green;
}

.row{
    display: flex;
}

.column{
    width: 50%;
}

.title{
    font-weight: bold;
}

.ProductCategoryRow, .ProductRow{
    white-space: nowrap;
    border: 1px solid;
    margin-top: 2px;
}

.ProductCategoryRow{
    border-color: cyan;
}

.ProductRow{
    border-color: red;
}

.color-red{
    color:red;
}

.price{
    color: dimgray;
}
